@media screen and (max-width: 1400px) {

  .certificate {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .myPic {
    width: 230px;
    border-radius: 50%;
    transition: 0.5s ease;
  }


  hr {
    margin-left: 95px;
  }

  .certificate img {
    padding: 15px;
    object-fit: contain;
    width: 50%;
    height: 250px;
  }


}

@media screen and (max-width: 900px) {
  .menu-links{
    width: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    list-style: none;
    margin-bottom: 15px;
  }
  .menu-links a{
    color: white;
  }
  .nav-links {
    display: none;
  }
  .hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 8px;
    background-color: black;
    border-radius: 8px;
    z-index: 2;
    cursor: pointer;
  }
  .section__pic-container{
    display: block;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    height: 28px;
    text-align: center;
    align-items: flex-end;
    background-color: black;
  }

 .title{
  font-size: 18px;
 }

  .myPic {
    width: 250px;
    border-radius: 50%;
    transition: 0.5s ease;
  }

  .section__text {
    margin-top: 20px;
    align-items: left;
    justify-content: center;
  }


  .certificate {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  hr {
    margin-left: 95px;
  }

  .certificate img {
    object-fit: fill;
    width: 100%;
    height: 250px;
  }


}

@media screen and (max-width: 650px) {
  #profile {
    display: flex;
    flex-direction: column;
  }




  hr {
    margin-left: 90px;
  }

  .section__text {
    align-items: center;
  }

  .name {
    font-size: 19px;
  }

}