* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  align-items: center;
  width: 95vw;
  background-color: rgb(191, 190, 188);
}

.myPic img {
  width: 350px;
  border-radius: 50%;
}

.upBtn {
  position: fixed;
  bottom: 0;
  right: 10px;
  cursor: pointer;

  width: 40px;
}

#desktop-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-top: 25px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 50px;
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 20px;
}

.menuBar {
  display: block;
}

.closeMenu {
  display: none;
}

#hamburger-nav,
.menu-links {
  display: none;
}

#profile {
  display: flex;
  position: relative;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
  animation: FadeIn 3s;
  margin-bottom: 25px;


}

.myPic {
  width: 350px;
  border-radius: 50%;
  transition: 0.5s ease;

}

.section__text {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 15px;
}

.section__text p {
  font-size: 20px;
  text-align: left;
  font-family: sans-serif;
}

button {
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.btn-container button {
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease-in;
}

button:hover {
  background-color: rgb(1, 58, 58);
  color: wheat;
  transform: scale(1.1);

}

li:hover {
  border-bottom: 2px solid rgb(236, 236, 236);
  color: white;
  transform: scale(1.1);

}

.icon {
  width: 30px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 10px;
  gap: 5px;
}

.icon:hover {
  transform: scale(1.3);
}

#about {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
  gap: 25px;

}

.about_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

}

.certificate_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.certificate_header h3 {
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  gap: 5px;
}

.certificate img {
  width: 350px;
  height: 350px;
  border: 2px solid black;
  border-radius: 5px 8px;
  transition: 0.5s ease;
  animation: FadeIn 3s ease;



}

.article-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#skills {
  width: 95vw;
  padding: 4px;
  margin: 4px;
}

.Skills_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.Skills_header h1 {
  font-size: 2em;
}

.project_container {
  width: 95vw;
  display: flex;
  overflow-x: auto;
  column-gap: 10px;
  margin-left: 35px;
}

.project_container img {
  width: 219px;
  height: 188px;
  transition: 0.5s ease;

}

.project_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.project_header h1 {
  font-size: 2em;
}

.article-container6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.article-container6 article {
  max-width: 300px;
  padding: 12px;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(91, 12, 91, 0.496), rgba(130, 22, 22, 0.452));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.article-container6 article img.icon {
  width: 40px;
  height: 40px;
}


.article-container6 article div h3 {
  font-size: 1rem;
  margin: 0;
}

.article-container6 article div p {
  font-size: 0.9rem;
  margin: 0;
}
.details-container {
  width: 280px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  border: 2px solid black;
  gap: 15px;
  justify-content: center;
  align-items: center;
  animation: FadeIn 3s;
  margin-bottom: 25px;

}

.article-container1 {
  width: 100%;
  height: auto;
}

article {
  animation: FadeIn 3s;

}

.article-container1 img {
  object-fit: fill;
  border-radius: 10px;

}

.title_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.title_container h1 {
  font-size: 2em;
}

.contact-info-upper-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 15px;
  margin-bottom: 25px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}



hr {
  height: 1.5px;
  background-color: black;
  gap: 15px;
  margin-top: 25px;
  border: none;
  width: 70%;
  margin-left: 250px;
  margin-bottom: 25px;

}

img:hover {
  transform: scale(1.1);
}

@keyframes FadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}